*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;
    background:#f5f7fb;

}

.wrapper{

    display:flex;

}

.sidebar{

    width:280px;
    height:100vh;

    background:#0F172A;

    position:fixed;

    left:0;
    top:0;

    display:flex;
    flex-direction:column;

    justify-content:space-between;

    transition:.3s;

    overflow:hidden;

}

.sidebar-header{

    padding:25px;

    border-bottom:1px solid rgba(255,255,255,.08);

}

.logo{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo-icon{

    width:55px;

    height:55px;

    border-radius:15px;

    background:#2563EB;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#fff;

    font-size:25px;

}

.logo-text h5{

    color:white;

    margin:0;

    font-weight:700;

}

.logo-text span{

    color:#94A3B8;

    font-size:13px;

}

.sidebar-menu{

    list-style:none;

    padding:20px;

}

.menu-title{

    color:#64748B;

    font-size:12px;

    margin-bottom:20px;

    letter-spacing:2px;

}

.sidebar-menu li{

    margin-bottom:10px;

}

.sidebar-menu li a{

    text-decoration:none;

    display:flex;

    align-items:center;

    gap:15px;

    color:#CBD5E1;

    padding:13px 18px;

    border-radius:14px;

    transition:.3s;

}

.sidebar-menu li a:hover{

    background:#2563EB;

    color:white;

    transform:translateX(5px);

}

.sidebar-menu li a.active{

    background:#2563EB;

    color:white;

}

.sidebar-menu li a i{

    font-size:20px;

}

.sidebar-footer{

    padding:20px;

}

.sidebar-footer a{

    text-decoration:none;

    display:flex;

    align-items:center;

    gap:15px;

    color:white;

    padding:15px;

    border-radius:14px;

    background:#1E293B;

    transition:.3s;

}

.sidebar-footer a:hover{

    background:#DC2626;

}